@use "sass:map";
@import "tailwindcss";

@font-face {
  font-family: terminal;
  src: url('/fonts/terminal.ttf');
}

@font-face {
  font-family: Creamer;
  src: url('/fonts/Creamer.otf');
}

@custom-variant dark (&:where(.dark, .dark *));

$themes: (
  light: (
    text-color: #2e1e17,
    contrast-color: #310000,
    primary: #ff580b,
    border-color: #dcd2cb,
    background: #fef9f6,
    background-secondary: #f0eae7,
  ),
  dark: (
    text-color: #f5eee9,
    contrast-color: #ff5100,
    primary: #ff8833,
    border-color: #2c1f18,
    background: #2b2623,
    background-secondary: #1c1512,
  )
);


@mixin apply-theme($theme-name) {
  $theme-list: map.get($themes, $theme-name);

  @each $key, $value in $theme-list {
    --#{$key}: #{$value};
  }

  @each $key, $value in $theme-list {
    .bg-#{$key} {
      background-color: #{$value};
    }
    .text-#{$key} {
      color: #{$value};
    }

    .border-#{$key} {
      border-color: #{$value};
    }
  }
}

html[data-theme='light'] {
  @include apply-theme(light);
}

html[data-theme='dark'] {
  @include apply-theme(dark);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: var(--contrast-color);
  background: var(--background);
  transition: 0.3s;
  font-family: Segoe UI;
  text-transform: lowercase;
  letter-spacing: 1.4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// Custom general classes
.main-container {
  height: calc(100vh - 68px - 100px);
  min-height: 400px;
}


// Custom animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}