@use "sass:map";
@use "tailwindcss";

@font-face {
  font-family: terminal;
  src: url('/fonts/terminal.ttf');
}

@font-face {
  font-family: birdy;
  src: url('/fonts/birdy.ttf');
}

@font-face {
  font-family: Baliw;
  src: url('/fonts/Baliw.ttf');
}

@custom-variant dark (&:where(.dark, .dark *));

$themes: (
  light: (
    text-color: #2e1e17,
    contrast-color: #310000,
    primary: #ff580b,
    border-color: #dcd2cb,
    background: #fef9f6,
    background-secondary: #f0eae7,
    tertiary: #c089ff,
    secondary: #43cfbd,
  ),
  dark: (
    text-color: #f5eee9,
    contrast-color: #ff5100,
    primary: #ff8833,
    border-color: #130d0a,
    background: #2b2623,
    background-secondary: #1c1512,
    tertiary: #8c46dd,
    secondary: #028573,
  )
);

@mixin apply-theme($theme-name) {
  $theme-list: map.get($themes, $theme-name);

  @each $key, $value in $theme-list {
    --#{$key}: #{$value};
  }

  @each $key, $value in $theme-list {
    .bg-#{$key} {
      background-color: #{$value};
    }
    .text-#{$key} {
      color: #{$value};
    }

    .border-#{$key} {
      border-color: #{$value};
    }
  }
}

html[data-theme='light'] {
  @include apply-theme(light);
  --right-shadow-carousel: linear-gradient(90deg,rgba(40, 40, 40, 0) 30%, rgba(40, 40, 40, 0.3) 100%);
  --left-shadow-carousel: linear-gradient(90deg,rgba(40, 40, 40, 0.3) 0%, rgba(40, 40, 40, 0) 50%);
  --music-thumb-shadow: linear-gradient(0,rgb(216, 216, 216) 90%, rgba(216, 216, 216, 0) 100%);
  
}

html[data-theme='dark'] {
  @include apply-theme(dark);
  --right-shadow-carousel: linear-gradient(90deg,rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
  --left-shadow-carousel: linear-gradient(90deg,rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
  --music-thumb-shadow: linear-gradient(0,rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background-secondary);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--contrast-color);
    border-radius: 10px;
    border: 2px solid var(--background-secondary);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
  }
  
  ::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}

body {
  color: var(--contrast-color);
  background: var(--background);
  transition: 0.3s;
  font-family: Segoe UI;
  text-transform: lowercase;
  letter-spacing: 1.4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Custom general classes
.main-container {
  height: calc(100dvh - 68px - 150px);
  min-height: 400px;

  @media screen and (min-width: 768px) {
    height: calc(100dvh - 68px - 110px);
  }
}

.content-container {
  width: 100%;
  overflow: hidden;
  height: calc(100dvh - 68px - 100px);
  @media screen and (min-width: 768px) { 
    width: calc(100% - 320px);
  }
}

.font-birdy {
  font-family: birdy;
}

.font-Baliw {
  font-family: Baliw;
}

button {
  &:active {
    transform: scale(0.8);
  }
}

.link-hover {
  transition: 0.4s;

  &:hover {
    box-shadow: 8px 8px var(--primary);
  }
}

button:disabled, input:disabled {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    transform: scale(1);
  }
}

.drop-shadow-modal {
  box-shadow: 3px 7px 3px 2px var(--background-secondary);
}

.box-shadow-small {
  box-shadow: -4px -13px 20px -10px var(--border-color);
}

.inner-shadow {
  box-shadow: inset 2px 2px 9px 1px var(--border-color);
}

.gradient-right {
  background: var(--right-shadow-carousel);
  transition: 0.4s;
}
.gradient-left {
  background: var(--left-shadow-carousel);
  transition: 0.4s;
}

.music-thumb-gradient {
  background: var(--music-thumb-shadow);
  transition: 0.4s;
}

.scroll-hidden {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

// Custom animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes SkeletonAnimation {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
  }
}

.skeleton-animation {
  background-color: var(--text-color);
  opacity: 0.3;
  animation: SkeletonAnimation 2.2s infinite ease-in-out;
}